<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.boardMapper">

   <!-- getPage -->

   <select id="getPage" resultType="int">
      select count(*)
      from tbl_qboard
   </select>



   <delete id="remove">
   <![CDATA[ 
      delete from tbl_qboard where bno = #{bno}
      ]]>
   </delete>
   
   <update id="modify">
   <![CDATA[ 
   update tbl_qboard set title =#{title}, cnt =#{cnt} , addfile=#{addfile}
   where bno =#{bno}
   ]]>
   </update>



   <insert id="create" parameterType="BoardVO">
      insert into tbl_qboard qb
      (mno, bno, title, cnt ,addfile)
      values((select mno from tbl_qmember where
      name=#{name}),seq_qboard.nextval,#{title},#{cnt},#{addfile})
   </insert>


   <select id="select10"  resultType="BoardVO">
<![CDATA[  
select * from tbl_qboard
where rownum <= 10
order by #{bno} desc
]]>
   </select>
   
   
   
      <select id="read"  resultType="BoardVO">
<![CDATA[  
select *
from tbl_qboard qb,tbl_qmember qm
where qm.mno=qb.mno and qb.bno=#{bno} 
]]>
   </select>
   
   
   

   <select id="selectPage" resultType="BoardVO">
<![CDATA[
select *
 from(
select /*+ index_desc(tbl_qboard pd_board) */
rownum rn, bno, title, cnt, answer, addfile, regdate, updatedate, qm.name
from tbl_qboard qb, tbl_qmember qm
where bno>0 and rownum <= (#{page}*#{size}) and qb.mno = qm.mno
order by bno desc) 
where rn >(#{page}-1)*#{size} 

]]>
   </select>
   
   


</mapper>