<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.boardMapper">


	<delete id="remove">
		delete from tbl_board where bno = #{bno}
	</delete>

	<insert id="create" parameterType="BoardVO">
		insert into tbl_board (bno,
		title, content, writer)
		values (seq_board.nextval, #{title},
		#{content}, #{writer})
	</insert>


	<select id="select10" resultType="BoardVO">
<![CDATA[  
select * from tbl_qboard
where rownum <= 10
order by bno desc
]]>
	</select>

	<select id="selectPage" resultType="BoardVO">
<![CDATA[
select *
 from(
select /*+ index_desc(tbl_qboard pd_board) */
rownum rn, bno, title, cnt, answer, addfile, regdate, updatedate, qm.name
from tbl_qboard qb, tbl_qmember qm
where bno>0 and rownum <= (#{page}*#{size}) and qb.mno = qm.mno
order by bno desc) 
where rn >(#{page}-1)*#{size} 

]]>
	</select>


</mapper>